@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
body {
  min-width: 320px;
  color: #292929;
  scroll-behavior: smooth;
}

body,
input,
textarea,
select,
button {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.hidden {
  display: none;
}

input,
button {
  appearance: none;
}

.header-area {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header-area .header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.header-area .header-title .link-back {
  display: flex;
}
.header-area .header-title .my-orders {
  display: flex;
  padding: 12px 18px;
}
.header-area .header-title .my-orders img {
  width: 23px;
}
.header-area .header-tablist {
  display: flex;
  height: 46px;
  justify-content: space-around;
  align-items: center;
}
.header-area .header-tablist .is-active .tab {
  position: relative;
  font-weight: 700;
  opacity: 1;
}
.header-area .header-tablist .is-active .tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #292929;
}
.header-area .header-tablist .tab {
  font-size: 16px;
  padding: 12px;
  text-align: center;
  opacity: 0.7;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 18px;
}
.menu-item .menu-detail {
  display: flex;
  flex: 1;
}
.menu-item .menu-img-area {
  margin-right: 12px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.06);
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
}
.menu-item img {
  width: 100%;
}
.menu-item.new .menu-img-area {
  position: relative;
}
.menu-item.new .menu-img-area::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 20px;
  height: 20px;
  background: url(/images/ico-new.svg) no-repeat;
  background-size: cover;
}

.menu-info-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-name {
  font-size: 17px;
  font-weight: 700;
}

.menu-price {
  font-size: 15px;
  font-weight: 700;
  color: #4B8612;
}

.btn-cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.btn-cart .ico-cart {
  width: 20px;
  height: 20px;
}
.btn-cart .num {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 17px;
  line-height: 17px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  background-color: #D90007;
}
.btn-cart.disabled {
  font-size: 12px;
  background-color: #F4F7F9;
  color: #777;
  cursor: not-allowed;
  pointer-events: none;
}

.dimmed-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 1;
  transform: opacity 0.3s ease;
}
.dimmed-layer.hidden {
  opacity: 0;
}
.dimmed-layer.light {
  background-color: rgba(0, 0, 0, 0.4);
}

.order-type-popup {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 16px 16px 0 0;
  background-color: #fff;
  padding: 32px 0 40px;
  text-align: center;
}
.order-type-popup .title {
  font-size: 20px;
  font-weight: 700;
}
.order-type-popup .type-list {
  display: flex;
  margin-top: 32px;
}
.order-type-popup .type-item {
  flex: 1;
}
.order-type-popup .type-item + .type-item {
  border-left: 1px solid #e5e5e5;
}
.order-type-popup .btn-selection {
  border: 1px solid;
  padding: 6px 18px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 28px;
  color: #fff;
  background-color: #292929;
  width: 68px;
  white-space: nowrap;
  margin: 18px auto 0;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.modal-wrapper .modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 18px * 2 );
  max-width: 720px;
  z-index: 1000;
  background-color: #fff;
}
.modal-wrapper .modal-container > div {
  padding: 10px 18px;
}
.modal-wrapper .option-title {
  padding: 18px 18px;
  font-size: 20px;
  font-weight: 800;
}
.modal-wrapper .option-list {
  margin: 20px 0;
  height: 280px;
}
.modal-wrapper .btn-selection {
  width: 100%;
  line-height: 52px;
  border-radius: 3px;
  font-weight: 700;
  background-color: #D90007;
  color: #fff;
  margin: 10px 0;
}
.modal-wrapper .btn-close {
  position: absolute;
  top: 8px;
  right: 5px;
  width: 48px;
  height: 48px;
}
.modal-wrapper .btn-close .ico-close {
  width: 20px;
}

.side-popup .menu-item {
  padding: 0;
  margin-bottom: 20px;
}
.side-popup .menu-item:last-child {
  margin-bottom: 0;
}
.side-popup .menu-item .menu-img-area {
  background-color: transparent;
}
.side-popup .menu-item .label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-popup .menu-item .label .menu-name, .side-popup .menu-item .label .menu-price {
  font-size: 17px;
  font-weight: 500;
  color: #444;
}
.side-popup .menu-item .label .label-icon {
  width: 28px;
  height: 28px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  background-color: #fff;
}
.side-popup .menu-item .input-radio:checked + .label .label-icon {
  border: 8px solid #D90007;
}
.side-popup .menu-item .input-radio:checked + .label .menu-name, .side-popup .menu-item .input-radio:checked + .label .menu-price {
  font-weight: 700;
}
.side-popup .menu-item .input-radio:checked + .label .menu-name {
  color: #292929;
}
.side-popup .menu-item .input-radio:checked + .label .menu-price {
  color: #4B8612;
}

.beverage-popup .option-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.beverage-popup .option-item {
  width: 31%;
  display: flex;
  margin-bottom: 8px;
}
.beverage-popup .label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.beverage-popup .label .bev-img {
  display: flex;
}
.beverage-popup .label .bev-img img {
  width: 100%;
}
.beverage-popup .label .menu-name {
  display: flex;
  align-items: center;
  height: 35px;
  word-break: break-all;
  font-size: 15px;
  font-weight: 600;
}
.beverage-popup .input-radio:checked + .label .bev-img {
  position: relative;
}
.beverage-popup .input-radio:checked + .label .bev-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: url(/images/ico-check-white.svg) no-repeat center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 35px;
  transform: translate(-50%, -50%);
}

.container {
  min-height: 100vh;
  background-color: #F4F7F9;
}
.container:not(.orderlist) {
  padding-top: 94px;
}
.container:not(.detail) {
  padding-bottom: 70px;
}

.common-inner {
  margin: 0 auto;
  max-width: 720px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-x::-webkit-scrollbar {
  display: none;
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-y::-webkit-scrollbar {
  display: none;
}

.go-to-top {
  padding: 16px 0 32px;
  background-color: #fff;
  text-align: center;
}
.go-to-top .link {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  color: #666;
}
.go-to-top .ico-up {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 4px;
}
.go-to-top .ico-up::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  width: 5px;
  height: 5px;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  transform: translate(-50%, -50%) rotate(45deg);
}
.go-to-top .ico-up::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  width: 2px;
  height: 9px;
  background-color: #666;
  transform: translateX(-50%);
}

.order-info-area {
  padding: 10px 18px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #FFF2D1;
}
.order-info-area .info-title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: 700;
}
.order-info-area .info-title .store {
  width: 50px;
  margin-left: auto;
}
.order-info-area .order-tablist {
  margin-top: 12px;
  display: flex;
}
.order-info-area .order-tablist .tab-switch {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.06);
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #666;
}
.order-info-area .order-tablist .tab-switch.is-active {
  position: relative;
  flex-grow: 1.2;
  border: 1px solid #D90007;
  font-size: 15px;
  color: #292929;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.order-info-area .order-tablist .tab-switch.is-active img {
  height: 18px;
}
.order-info-area .order-tablist .tab-switch.is-active .ico-check {
  display: inline-block;
}
.order-info-area .order-tablist .tab-switch.is-active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -9.5px;
  width: 10px;
  height: 10px;
  border: 1px solid #D90007;
  border-width: 0 1px 1px 0;
  background-color: #fff;
  transform: rotate(45deg) translateX(-50%);
}
.order-info-area .order-tablist .tab-switch img {
  height: 15px;
  vertical-align: middle;
  margin-right: 6px;
}
.order-info-area .order-tablist .tab-switch .ico-check {
  margin-right: 0;
  margin-left: 4px;
  display: none;
  width: 14px;
}
.order-info-area .order-notice {
  margin-top: 16px;
  padding: 12px 16px;
  background-color: #fff;
  font-size: 14px;
}
.order-info-area .order-notice.alert {
  color: #D90007;
}

.mclunch-area {
  margin-top: 16px;
  padding: 18px 0;
  background-color: #fff;
}
.mclunch-area .mclunch-desc {
  font-size: 14px;
  white-space: nowrap;
  margin-bottom: 16px;
  padding-left: 16px;
}
.mclunch-area .mclunch-group {
  display: flex;
}
.mclunch-area .mclunch-group .mclunch-title {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-right: 1px solid #f2f2f2;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
}
.mclunch-area .mclunch-group .mclunch-title .ico-clock {
  width: 14px;
  margin-bottom: 4px;
}
.mclunch-area .mclunch-group .mclunch-menu-list {
  display: flex;
}
.mclunch-area .mclunch-group .mclunch-menu-item {
  box-sizing: content-box;
  width: 80px;
  text-align: center;
  position: relative;
  padding-right: 16px;
}
.mclunch-area .mclunch-group .mclunch-menu-item:first-child {
  padding-left: 16px;
}
.mclunch-area .mclunch-group .mclunch-menu-item .menu-img {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 100%;
  overflow: hidden;
}
.mclunch-area .mclunch-group .mclunch-menu-item .menu-img img {
  width: 100%;
}
.mclunch-area .mclunch-group .mclunch-menu-item .menu-name {
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mclunch-area .mclunch-group .mclunch-menu-item .menu-price {
  font-size: 13px;
  font-weight: 700;
  color: #4B8612;
}
.mclunch-area .mclunch-group .mclunch-menu-item .badge-cart {
  position: absolute;
  top: 50%;
  right: 16px;
  display: flex;
  padding: 6px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  background-color: #fff;
}

.menu-category-area {
  background-color: #fff;
  position: sticky;
  top: 94px;
  background-color: white;
  z-index: 999;
}
.menu-category-area .common-inner {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.menu-category-area .category-list {
  display: flex;
  align-items: center;
  height: 54px;
}
.menu-category-area .category-item:first-child {
  padding-left: 18px;
}
.menu-category-area .category-item:last-child {
  padding-right: 18px;
}
.menu-category-area .category-tab {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 12px;
  font-size: 16px;
}
.menu-category-area .category-tab.is-active {
  background-color: #292929;
  font-weight: 700;
  color: #fff;
  border-radius: 15px;
}

.menu-list-area .menu-list-group {
  padding: 28px 18px 10px;
  background-color: #fff;
}
.menu-list-area .menu-list-group:not(:first-child) {
  margin-top: 10px;
}
.menu-list-area .menu-list-group.is-closed {
  padding: 24px 18px;
}
.menu-list-area .menu-list-group.is-closed + .is-closed {
  margin-top: 0;
  border-top: 1px solid #e5e5e5;
}
.menu-list-area .menu-list-group.is-closed .ico-arrow {
  transform: rotate(180deg);
}
.menu-list-area .menu-list-group.is-closed .menu-list {
  display: none;
}
.menu-list-area .menu-list-group .comming-soon {
  margin: 0 auto;
  text-align: center;
}
.menu-list-area .menu-list-group .comming-soon img {
  opacity: 0.5;
}
.menu-list-area .menu-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list-area .title {
  font-size: 19px;
  font-weight: 700;
}
.menu-list-area .btn-toggle {
  display: flex;
  margin: -16px;
  padding: 16px;
}

.order-box-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.03);
  background-color: #fff;
}
.order-box-area .common-inner {
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
}
.order-box-area .order-txt {
  font-size: 15px;
  margin-bottom: 3px;
}
.order-box-area .order-price {
  font-size: 19px;
  font-weight: 700;
  color: #4B8612;
}
.order-box-area .btn-order {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 46px;
  border-radius: 5px;
  background-color: #D90007;
  font-weight: 700;
  color: #fff;
}
.order-box-area .icon {
  position: relative;
}
.order-box-area .icon .ico-cart {
  width: 20px;
  height: 20px;
}
.order-box-area .icon .num {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 16px;
  line-height: 16px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #D90007;
}

.menu-detail-area .menu-img {
  position: relative;
  height: 250px;
  background: url(/images/QuarterPounder-set-bg.jpg) no-repeat center;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.menu-detail-area .menu-img::before, .menu-detail-area .menu-img::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0.2;
}
.menu-detail-area .menu-img::before {
  top: 0;
  height: 120px;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
}
.menu-detail-area .menu-img::after {
  bottom: 0;
  height: 45px;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}
.menu-detail-area .menu-info {
  margin-top: -15px;
  padding: 0 18px 20px;
}
.menu-detail-area .menu-info .common-inner {
  position: relative;
  padding: 20px;
  height: 180px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.04);
}
.menu-detail-area .menu-info .menu-desc {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.2;
}

.menu-selection-area .menu-item {
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}
.menu-selection-area .menu-img-area {
  background-color: transparent;
}
.menu-selection-area .menu-desc {
  margin-top: -7px;
  font-size: 14px;
}

.menu-ingredients-area {
  margin-top: 16px;
  padding: 10px 18px 20px;
}
.menu-ingredients-area .ingredient-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.menu-ingredients-area .ingredient-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  background-color: #fff;
  border-top: 2px solid #FFBC0D;
  border-bottom: 2px solid #FFBC0D;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.menu-ingredients-area .ingredient-item {
  box-sizing: content-box;
  width: 100px;
  text-align: center;
  padding-right: 25px;
}
.menu-ingredients-area .ingredient-item:last-child {
  padding-right: 0;
}
.menu-ingredients-area .ingredient-item img {
  width: 100px;
  display: block;
}
.menu-ingredients-area .ingredient-item p {
  margin-top: 10px;
  font-size: 14px;
}

.order-form-area .page-title-area {
  height: 105px;
  background-image: linear-gradient(265deg, #D90007, #FF1921);
}
.order-form-area .page-title-area .link-back {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
}
.order-form-area .page-title-area .link-back img {
  filter: invert(94%) sepia(0%) saturate(6546%) hue-rotate(108deg) brightness(111%) contrast(101%);
}
.order-form-area .page-title-area .title {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(265deg, #D90007, #FF1921);
  z-index: 1;
}
.order-form-area .order-content {
  margin: -45px 10px 0;
}
.order-form-area .order-content .common-inner {
  position: relative;
  background-color: #fff;
}
.order-form-area .order-content .common-inner::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 5px;
  background: url(/images/bg-pattern.png) repeat-x;
  background-size: auto 5px;
}
.order-form-area .order-content .order-content-top {
  padding: 20px 0 15px;
  display: flex;
  justify-content: center;
}
.order-form-area .order-content .order-content-body {
  border-top: 1px dashed #e5e5e5;
}
.order-form-area .order-content .order-content-body .no-order {
  padding: 70px;
  text-align: center;
}
.order-form-area .order-content .order-content-body .no-order img {
  width: 50px;
}
.order-form-area .order-content .order-content-body .no-order .txt {
  font-size: 14px;
  color: #8f8f8f;
}
.order-form-area .order-content .order-content-body .menu-list .menu-item {
  flex-direction: column;
  padding: 0;
  position: relative;
}
.order-form-area .order-content .order-content-body .menu-list .menu-item > div {
  width: 100%;
  padding: 18px;
}
.order-form-area .order-content .order-content-body .menu-list .menu-item + .menu-item {
  border-top: 1px dashed #e5e5e5;
}
.order-form-area .order-content .order-content-body .menu-list .menu-item .menu-detail {
  padding-right: 36px;
}
.order-form-area .order-content .order-content-body .menu-list .menu-img-area {
  background-color: transparent;
}
.order-form-area .order-content .order-content-body .menu-list .menu-option-group {
  padding: 22px 0;
  position: relative;
}
.order-form-area .order-content .order-content-body .menu-list .menu-option-group::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  height: 100%;
  width: calc(100% - 18px);
  border: 1px solid #e5e5e5;
  border-width: 1px 0 1px 0;
}
.order-form-area .order-content .order-content-body .menu-list .menu-option-group .option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.order-form-area .order-content .order-content-body .menu-list .menu-option-group .option-item + .option-item {
  margin-top: 8px;
}
.order-form-area .order-content .order-content-body .menu-list .menu-option-group .option-item .title {
  width: 50px;
  font-size: 14px;
}
.order-form-area .order-content .order-content-body .menu-list .menu-option-group .option-item .option-name {
  width: 150px;
  font-weight: 500;
}
.order-form-area .order-content .order-content-body .menu-list .menu-option-group .option-item .extra-price {
  width: 70px;
  text-align: right;
  padding-right: 15px;
  font-weight: 600;
}
.order-form-area .order-content .order-content-body .menu-list .menu-option-group .option-item .btn-option {
  background-color: #292929;
  color: #fff;
  font-size: 13px;
  padding: 3px 6px;
}
.order-form-area .order-content .order-content-body .menu-list .menu-amount {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-form-area .order-content .order-content-body .menu-list .amount-select {
  display: flex;
  align-items: center;
  height: 35px;
}
.order-form-area .order-content .order-content-body .menu-list .amount-select .btn-minus,
.order-form-area .order-content .order-content-body .menu-list .amount-select .btn-plus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  color: #292929;
}
.order-form-area .order-content .order-content-body .menu-list .amount-select .btn-minus.enabled,
.order-form-area .order-content .order-content-body .menu-list .amount-select .btn-plus.enabled {
  background-color: #D90007;
  color: #fff;
}
.order-form-area .order-content .order-content-body .menu-list .amount-select .btn-minus::before,
.order-form-area .order-content .order-content-body .menu-list .amount-select .btn-plus::before {
  content: "";
  display: block;
  width: 13px;
  height: 1px;
  background-color: currentColor;
}
.order-form-area .order-content .order-content-body .menu-list .amount-select .btn-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1px;
  height: 13px;
  background-color: #fff;
}
.order-form-area .order-content .order-content-body .menu-list .amount-select .amount {
  width: 50px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.order-form-area .order-content .order-content-body .menu-list .total-price {
  background-color: #FFF2D1;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.order-form-area .order-content .order-content-body .menu-list .total-price p {
  font-size: 14px;
}
.order-form-area .order-content .order-content-body .menu-list .total-price .price {
  color: #4B8612;
  font-weight: 700;
  font-size: 17px;
}
.order-form-area .order-content .order-content-body .menu-list .btn-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px 18px;
}
.order-form-area .order-content .btn-menu-add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin: 22px auto 30px;
  width: 150px;
  line-height: 48px;
  border-radius: 24px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  color: #292929;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
  gap: 6px;
}
.order-form-area .order-content .btn-menu-add .ico-add {
  position: relative;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-form-area .order-content .btn-menu-add .ico-add::before, .order-form-area .order-content .btn-menu-add .ico-add::after {
  content: "";
  position: absolute;
  background-color: #D90007;
}
.order-form-area .order-content .btn-menu-add .ico-add::before {
  width: 13px;
  height: 1px;
}
.order-form-area .order-content .btn-menu-add .ico-add::after {
  width: 1px;
  height: 13px;
}
.order-form-area .payment-details {
  background-color: #fff;
  padding: 20px 18px;
}
.order-form-area .payment-details .common-inner > div {
  display: flex;
  justify-content: space-between;
}
.order-form-area .payment-details .payment-title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
}
.order-form-area .payment-details .origin-price {
  margin: 10px auto;
}
.order-form-area .payment-details .current-price {
  font-size: 19px;
  font-weight: 600;
  margin: 20px auto 0;
  padding-top: 15px;
  border-top: 2px solid #292929;
}
.order-form-area .payment-details .current-price span {
  color: #D90007;
}