

// 주문정보영역
.order-info-area {
  padding: 10px $m-padding 20px;
  border-bottom: 1px solid rgba(0,0,0,.04);
  background-color: $bg03;



  // 타이틀
  .info-title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 700;

    .store {
      width: 50px;
      margin-left: auto;
    }
  }

  // 주문분류
  .order-tablist {
    margin-top: 12px;
    display: flex;

    .tab-switch {
      flex-grow: 1;
      background-color: rgba(0,0,0,.06);
      font-size: 13px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
      color: #666;

      &.is-active {
        position: relative;
        flex-grow: 1.2;
        border: 1px solid $red;
        font-size: 15px;
        color: $black;
        background-color: $white;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);
        img {
          height: 18px;
        }
        .ico-check {
          display: inline-block;
        }
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -9.5px;
          width: 10px;
          height: 10px;
          border: 1px solid $red;
          border-width: 0 1px 1px 0;
          background-color: $white;
          transform: rotate(45deg) translateX(-50%);
        }
      }

      img {
        height: 15px;
        vertical-align: middle;
        margin-right: 6px ;
      }
      .ico-check {
        margin-right: 0;
        margin-left: 4px;
        display: none;
        width: 14px;
      }
    }
  }

  .order-notice {
    margin-top: 16px;
    padding: 12px 16px;
    background-color: $white;
    font-size: 14px;

    &.alert {
      color: $red;
    }
  }


}

// 맥런치영역
.mclunch-area {
  margin-top: 16px;
  padding: 18px 0;
  background-color: $white;

  .mclunch-desc {
    font-size: 14px;
    white-space: nowrap;
    margin-bottom: 16px;
    padding-left: 16px
  }

  .mclunch-group {
    display: flex;

    .mclunch-title {
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-right: 1px solid $border01;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.5;
      .ico-clock {
        width: 14px;
        margin-bottom: 4px;
      }
    }

    .mclunch-menu-list {
      display: flex;
    }
    .mclunch-menu-item {
      box-sizing: content-box;
      width: 80px;
      text-align: center;
      position: relative;
      padding-right: 16px;
      &:first-child {
        padding-left: 16px;
      }

      .menu-img {
        display: flex;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: $bg01;
        border-radius: 100%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }

      .menu-name {
        margin-top: 8px;
        font-weight: 600;
        font-size: 14px;
        @include ellipsis;
      }

      .menu-price {
        font-size: 13px;
        font-weight: 700;
        color: $green;
      }

      .badge-cart {
        position: absolute;
        top: 50%;
        right: 16px;
        display: flex;
        padding: 6px;
        border: 1px solid $border02;
        border-radius: 100%;
        background-color: $white;
      }
    }


  }
}

// 메뉴카테고리영역
.menu-category-area {
  background-color: $white;
  position: sticky;
  top: $header-height;
  background-color: white;
  z-index: 999;
  .common-inner {
    position: relative;
    border-bottom: 1px solid $border02;
  }

  .category-list {
    display: flex;
    align-items: center;
    height: 54px;
  }

  .category-item {
    &:first-child {
      padding-left: $m-padding;
    }
    &:last-child {
      padding-right: $m-padding;
    }
  }

  .category-tab {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 12px;
    font-size: 16px;
    &.is-active {
      background-color: $black;
      font-weight: 700;
      color: $white;
      border-radius: 15px;
    }
  }
}

// 메뉴리스트영역
.menu-list-area {

  .menu-list-group {
    padding: 28px $m-padding 10px;
    background-color: $white;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &.is-closed {
      padding: 24px $m-padding;
      
      & + .is-closed {
        margin-top: 0;
        border-top: 1px solid $border02;
      }

      .ico-arrow {
        transform: rotate(180deg);
      }

      .menu-list {
        display: none;
      }
    }
  }
  .menu-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 19px;
    font-weight: 700;
  }

  .btn-toggle {
    display: flex;
    margin: -16px;
    padding: 16px;
  }

}

// 담은메뉴영역
.order-box-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $border02;
  box-shadow: 0 0 6px 4px rgba(0,0,0,.03);
  background-color: $white;

  .common-inner {
    display: flex;
    justify-content: space-between;
    padding: 12px $m-padding;
  }
  
  .order-txt {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .order-price {
    font-size: 19px;
    font-weight: 700;
    color: $green;
  }

  .btn-order {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 46px;
    border-radius: 5px;
    background-color: $red;
    font-weight: 700;
    color: $white;
  }

  .icon {
    position: relative;

    .ico-cart {
      width: 20px;
      height: 20px;
    }

    .num {
      position: absolute;
      top: -5px;
      right: -4px;
      width: 16px;
      line-height: 16px;
      background-color: $white;
      border: 1px solid;
      border-radius: 50%;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      color: $red;

    }
  }


}