body {
  min-width: 320px;
  color: $black;
  scroll-behavior: smooth;
}

body,
input,
textarea,
select,
button
  {
    font-family: $font-default;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul,
ol,
li {
    list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
      text-decoration: none;
  }
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
      cursor: not-allowed;
  }
}

.hidden {
  display: none;
}

input,
button {
    appearance: none;
}