
// color
$red : #D90007;
$yellow : #FFBC0D;
$green : #4B8612;
$black : #292929;
$white : #fff;
$transparent : transparent;
$border01 : #f2f2f2;
$border02 : #e5e5e5;
$bg01 : #f5f5f5;
$bg02 : #F4F7F9;
$bg03 : #FFF2D1;

// font
$font-default : Pretendard,sans-serif;

// size
$m-padding: 18px;
$header-title-height: 48px;
$header-tablist-height: 46px;